.home{
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 350px;
    
}


body{
    background-image: url(../img/urbanlife.gif) ;
    background-size: cover;
}
